
/************************************************
*************************************************
         DEFAULT STANDARD STYLING
*************************************************
*************************************************/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/****************************************
          MAIN CONTENT STYLING
*****************************************/
  body {
    margin: 0;

  }
  header {

  }
  .top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5px;
    margin: 10px 100px 50px;
  }
  .nav_menu {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    padding: 20px 0;
    color: #1D262C;
  }
  .nav_menu p {
    margin: 0 10px;
  }
  .login_signup {
    display: flex;
    padding: 10px 20px;
  }
  .log {
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #1D262C;
    margin: 0 10px;
    padding: 10px 5px 0;
  }
  .signup {
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    padding: 10px 10px 0;
    color: #ffffff;
    background-color: #0074E4;
    border-radius: 4px;
  }
  .intro {
    margin: 20px 0;
    padding: 10px 100px;
    text-align: center;
  }
  .intro h1 {
    font-weight: 600;
    line-height: normal;
    font-size: 44px;
    color: #1D262C;
    /* margin: 10px 0; */
  }
  .intro p {
    font-weight: normal;
    line-height: 32px;
    font-size: 18px;
    color: #71828A;
    /* margin: 0 0 10px; */
    padding: 20px 100px;
  }
  .email_input {
    display: flex;
    justify-content: center;
    margin: 30px 0 300px;
  }
  .user_mail {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #71828A;
    border-radius: 4px;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #71828A;
    padding: 10px 50px 10px 10px;
  }
  .btn button {
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    border: 1px solid #0074e4;
    text-align: center;
    background: #0074E4;
    border-radius: 0px 4px 4px 0px;
  }
  .main_content {
    background: 
               linear-gradient(180deg, #F9F9F9 0%, #FFFFFF 100%);
  }
  .dashboard {
    margin: 10px 100px;
    padding: 300px 5px 50px;
  }
  .main_image {
    position: absolute;
    left: 10.79%;
    top: 77.34%;
    width: 1060px;
    height: 600px;
  }
  .info {
    margin: 30px 50px;
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
  }
  .note {
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: #71828A;
    padding: 20px;
    margin: 10px;
  }
  .note h2 {
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
  }
  .note:hover {
    font-weight: bolder;
    color: #1D262C;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(113, 130, 138, 0.2);
  }
  .secondary_title,
  .tertiary_title {
    padding: 100px 50px;
    display: flex;
  }
  .secondary_chart,
  .tertiary_chart {
    padding: 100px 20px 0;
    margin-left: 50px;
  }
  .secondary_chart h2,
  .tertiary_chart h2 {
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    color: #1D262c;
    margin: 20px 0;
  }
  .secondary_chart p,
  .tertiary_chart p {
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    color: #71828A;
    margin: 30px 0;
  }
  ul li {
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    margin: 30px 0;
    color: #1D262C;
    list-style-type: disc;
    list-style-position: inside;
  }
  .link {
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #0074E4;
    text-decoration: underline;
  }
  .final_title {
    padding: 100px;
    background: 
                linear-gradient(180deg, #F9F9F9 0%, #FFFFFF 100%);
  }
  .final_intro h2 {
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #1D262C;
    margin: 20px 0;
  }
  .final_intro p {
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    color: #71828a;
    margin: 20px 0;
    padding: 5px 310px;
  }
  .final_chart {
    padding: 30px 0;
    display: flex;
    margin: 30px 0;
    justify-content: space-around;
  }
  .item {
    padding: 20px;
    margin: 10px 20px;
  }
  .item h3 {
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    color: #1D262C;
    margin: 10px 0;
  }
  .item p {
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: #71828A;
  }
  .feedbacks {
    color: #ffffff;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    background: 
              linear-gradient(90deg, #0074E4 0%, #0774DD 100%);
  }
  .reg h2 {
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
  }
  .reg p {
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    color: #FEFEFE;
  }
  .input {
    display: flex;
    justify-content: center;
  }
  .user_email {
    background-color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #0074e4;
    border-radius: 4px;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #000000;
    padding: 10px 50px 10px 15px;
  }
  .btn_footer button {
    margin-left: -2px;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: #0174e2;
    padding: 20px 30px;
    border: 1px solid #0074e4;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0px 4px 4px 0px;
  }
  footer {
    margin: 50px 150px;
  }
  .footer_contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.769231px;
    color: #1D262C;
  }
  .members p {
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    margin: 20px 0;
    color: #71828A;
  }
  .social_media {
    padding-top: 40px;
  }
  .socials {
    padding: 5px 15px;
  }
  .endnote {
    text-align: center;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    color: #71828A;
  }

/****************************************
          MEDIA QUERIES
*****************************************/


/* For Large Screen Sizes */

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {

}